<template>
  <header id="header">
    <div class="grid wide">
      <!-- <div class="grid wide"> -->
      <nav class="nav">
        <div id="logo" class="hide-on-mobile-tablet">
          <a href="index.html" class="logo__link">
            <img
              src="../../../assets/img/logo.png"
              alt=""
              class="logo__image"
            />
          </a>
        </div>
        <div id="menu" class="hide-on-mobile-tablet">
          <ul class="menu-list">
            <li class="menu__item">
              <a href="" class="menu__link">Trang chủ</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link"
                >Cửa hàng <i class="fas fa-chevron-down menu__icon"></i
              ></a>
              <ul class="sub-menu">
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">Lớp học</a>
                  <ul class="menu-child">
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Lớp 1</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Lớp 2</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Lớp 3</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Lớp 4</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Lớp 5</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Lớp 6</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Lớp 7</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Lớp 8</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Lớp 9</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Lớp 10</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Lớp 11</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Lớp 12</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">Ôn thi đại học</a>
                  <ul class="menu-child">
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Toán Học</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Vật lý</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Hoá học</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Sinh học</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Lịch sử</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Địa lý</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Giáo dục công dân</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Ngoại ngữ</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Tản văn / Tạp bút</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">Kinh tể</a>
                  <ul class="menu-child">
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link"
                        >Đầu tư - chứng khoán</a
                      >
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link"
                        >Khởi nghiệp - làm giàu</a
                      >
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link"
                        >Marketing - bán hàng</a
                      >
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link"
                        >Nhân vật - Bài học kinh doanh</a
                      >
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link"
                        >Quan trị - Lạnh đạo</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">Kỹ năng</a>
                  <ul class="menu-child">
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Hạt giống tâm hồn</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Kỹ năng giao tiếp</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Kỹ năng học tập</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Kỹ năng sống</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">văn học</a>
                  <ul class="menu-child">
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Tiểu sử - hồi ký</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Văn học thiếu nhi </a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">văn học Việt Name</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">Ngoại ngữ </a>
                  <ul class="menu-child">
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Tiếng Anh</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Tiếng Hàn </a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Tiếng Nhật</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Tiếng Pháp</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Tiếng Trung</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">Truyện</a>
                  <ul class="menu-child">
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Cô tích Việt Nam</a>
                    </li>
                    <li class="menu-child__item">
                      <a href="" class="menu-child__link">Cổ tích thế giới </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Giảm giá</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Giới thiệu</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Liên hệ</a>
            </li>
          </ul>
        </div>

        <div class="menu-respone">
          <label for="toggle-menu" class="btn btn--bar" @click="hiddenMenu">
            <fa icon="bars"></fa>
          </label>
          <input
            type="checkbox"
            class="menu__input"
            hidden
            name="toggle"
            id="toggle-menu"
          />
          <div class="menu-mobile__overlay" v-if="hidden"></div>
          <div class="menu-mobile" v-if="hidden">
            <label for="toggle-menu" class="menu__close" @click="hiddenMenu">
              <fa icon="times"></fa>
            </label>
            <ul class="menu-mobile__list">
              <li class="menu-mobile__item">
                <a href="#" class="menu-mobile__link">Trang chủ</a>
              </li>
              <li class="menu-mobile__item">
                <a href="#" class="menu-mobile__link">Sản phẩm</a>
              </li>
              <li class="menu-mobile__item">
                <a href="#" class="menu-mobile__link">Giỏ hàng</a>
              </li>
              <li class="menu-mobile__item">
                <a href="#" class="menu-mobile__link">Giảm giá</a>
              </li>
              <li class="menu-mobile__item">
                <a href="#" class="menu-mobile__link">Giới thiệu</a>
              </li>
              <li class="menu-mobile__item">
                <a href="" class="menu-mobile__link">Liên hệ</a>
              </li>
              <li class="menu-mobile__item">
                <a href="/login" class="menu-mobile__link">Đăng nhập</a>
              </li>
            </ul>
          </div>
        </div>
        <div id="logo-on-mobile" class="hide-on-tablet">
          <a href="index.html" class="logo__link">
            <img
              src="../../../assets/img/logo.png"
              alt=""
              class="logo__image"
            />
          </a>
        </div>
        <input
          type="checkbox"
          name="check"
          hidden
          id="mobile-search-checkbox"
          class="header__search-check"
        />
        <div class="box-head">
          <div class="box-head__search">
            <label for="mobile-search-checkbox" class="btn btn-search">
              <fa icon="search"></fa>
            </label>
          </div>

          <div class="box-head__cart hide-on-mobile">
            <span class="cart__count">3</span>
            <a href="#" class="box-head__card-link">
              <fa icon="shopping-cart"></fa>
            </a>
          </div>
          <div class="box-head__login hide-on-mobile-tablet">
            <a href="/login" class="box-head__link">Đăng nhập</a>
          </div>
        </div>
        <div class="header__search">
          <input
            type="text"
            name="header-search"
            id="mobile-search-checkbox"
            class="header__input"
            placeholder="Tìm kiếm..."
          />
        </div>
      </nav>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      hidden: false,
    };
  },
  methods: {
    hiddenMenu() {
      this.hidden = !this.hidden;
    },
  },
};
</script>

<style>
</style>