<template>
  <div class="col l-4 m-0 c-0">
    <div class="slidebar">
      <h3 class="product__title">Tất cả sản phẩm</h3>
      <ul class="slidebar__list">
        <li class="slidebar__item">
          <a href="#" class="slidebar__link">Văn học Việt Nam</a>
        </li>
        <li class="slidebar__item">
          <a href="#" class="slidebar__link">Văn học nước ngoài</a>
        </li>
        <li class="slidebar__item">
          <a href="#" class="slidebar__link">Thiếu nhi</a>
        </li>
        <li class="slidebar__item">
          <a href="#" class="slidebar__link">Chính trị</a>
        </li>
        <li class="slidebar__item">
          <a href="#" class="slidebar__link">Khoa học tự nhiên</a>
        </li>
        <li class="slidebar__item">
          <a href="#" class="slidebar__link">Tham khảo</a>
        </li>
        <li class="slidebar__item">
          <a href="#" class="slidebar__link">Giảm giá đặc biệt</a>
        </li>
        <li class="slidebar__item">
          <a href="#" class="slidebar__link">Sách tái bản</a>
        </li>
        <li class="slidebar__item">
          <a href="#" class="slidebar__link">Xem thêm ...</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>