<template>
  <div>
    <sidebar />
    <Adminheader />
    <router-view />
  </div>
</template>

<script>
import Sidebar from "../../components/PageAdmin/Slidebar/sidebar.vue";
import Adminheader from "../../components/PageAdmin/mainHeader/mainheader.vue";
export default {
  components: {
    Sidebar,
    Adminheader,
  },
};
</script>

<style>
</style>