<template>
  <div class="grid wide">
    <div class="register">
      <div class="register__inner">
        <div class="register__heading">
          <div class="register__logo">
            <a href="../homePage" class="register__link">
              <img
                src="../../../assets/img/logo.png"
                alt=""
                class="logo__image"
              />
            </a>

            <h2 class="register__title">Đăng ký</h2>
          </div>
        </div>
        <div class="register__body">
          <form action="" method="POST" class="form-register">
            <div class="form-group__input">
              <div class="form-group">
                <!-- <i class="fas fa-user"></i> -->
                <input
                  type="text"
                  name="username"
                  id=""
                  class="form__input"
                  placeholder="Tên của bạn"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="address"
                  id=""
                  class="form__input"
                  placeholder="Địa chỉ"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="phoneNumber"
                  id=""
                  class="form__input"
                  placeholder="Số điện thoại"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="username"
                  id=""
                  class="form__input"
                  placeholder="Tên tài khoản"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="pass"
                  id=""
                  class="form__input"
                  placeholder="Mật khẩu mới"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="rePass"
                  id=""
                  class="form__input"
                  placeholder="Nhập lại mật khẩu"
                />
              </div>

              <div class="form-group">
                <button type="submit" class="form-btn__register">
                  Đăng ký
                </button>
              </div>
            </div>
            <div class="form__btn">
              <div class="form-group">
                <span class="form__login-with">
                  Bạn đã có tài khoản? <a href="/login">Đăng nhập</a>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>