.add-table {
    width: 600px;
    padding: 20px 15px;
    margin: 0 auto;
    border: transparent;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 40%) 0px 4px 12px;
    z-index: 99;
    background-color: white;
}

.overlay {
    position: absolute;
    top: 52px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .35);
}

label {
    color: #333;
    margin-bottom: 10px;
}

.form-admin-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.table-title {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.form-add-book {
    padding: 20px 100px;
}

.form-group-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-admin-group {
    margin-bottom: 15px;
}

.form-price {
    display: flex;
    align-items: center;
}

.form-quantity-book {
    padding-right: 20px;
}

.form-input {
    padding: 10px;
    border: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.btn-add--cancel,
.btn-add--success {
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 5px 15px;
    border-radius: 4px;
}

.btn-add--success:hover {
    background-color: green;
    color: white;
}

.btn-add--cancel:hover {
    color: white;
    background-color: rgb(255, 51, 0);
}


/* =========== USER ============= */

.form-sub-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}