.common {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

aside {
    background-color: #33393f;
    line-height: 24px;
    text-align: left;
    color: white;
    max-width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.brand-link {
    text-decoration: none;
    width: 250px;
    border-bottom: 1px solid #4b545c;
}

.brand-link {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    padding: 13px 8px;
    text-align: left;
}

.brand-image {
    display: inline-block;
    border-radius: 50%;
    box-shadow: #000000 0px 10px 20px 0px;
    line-height: 16px;
    margin: -3px 8px 0px 12.8px;
    text-align: left;
    width: 33px;
    height: 33px;
    object-fit: cover;
}

.info-link {
    text-decoration: none;
}

.sidebar {
    padding: 0 8px;
}

.user-panel {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 16px;
    text-align: left;
    margin: 16px 0;
    border-bottom: 1px solid #4b545c;
    padding-right: 8px;
}

.info-link {
    color: #c2c7d0;
    font-size: 16px;
}

.form-inline,
.input-group {
    display: flex;
    align-items: center;
}

.form-control-sidebar {
    width: 189px;
    background-color: #3f474e;
    border: 1px solid #56606a;
    box-shadow: #000000 0px 0px 0px 0px;
    border-radius: 4px 0 0 4px;
    color: #ffffff;
    line-height: 24px;
    padding: 6px 12px;
}

.btn {
    background-color: transparent;
    border: transparent;
    outline: none;
}

.btn-search-append {
    width: 45px;
    background-color: #444c53;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid #56606a;
    color: #ffffff;
    line-height: 24px;
    padding: 6px 12px;
    text-align: center;
    align-items: center;
}

.sidebar-menu {
    margin-top: 8px;
}

.nav-sidebar {
    flex-direction: column;
    text-align: left;
}

.nav-item {
    margin-bottom: 3.2px;
}

.nav-link {
    border-radius: 4px;
    padding: 8px 16px;
    color: #c2c7d0;
    display: flex;
    align-items: center;
    width: 100%;
}

.sidebar-menu .nav-link:hover {
    color: white;
    background-color: #494e53;
}

.nav-link p {
    margin-left: 10px;
    font-weight: 400;
    display: inline-block;
}

.active {
    color: white;
    background-color: #007bff;
}

.main-header {
    padding: 8px;
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1f2d3d;
    border-bottom: 1px solid #dee2e6;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    display: inline-flex;
    align-items: center;
    color: #00000080;
}

.navbar-nav .nav-link:hover {
    color: black;
}

.nav-item-dropdown .nav-link {
    position: relative;
}

.icon {
    font-size: 25px;
}

.badge {
    position: absolute;
    top: -5px;
    right: 5px;
    border-radius: 50px;
    border: 1px solid;
    color: white;
    padding: 3px;
    font-size: 12px;
}

.badge-error {
    background-color: red;
}

.badge-warning {
    background-color: orange;
}

.icon-search-link {
    font-size: 25px;
}

.dropdown-menu {
    display: none;
    width: 280px;
    position: absolute;
    right: 70px;
    border: 1px solid rgba(141, 136, 136, 0.692);
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-item {
    padding: 8px 16px;
    display: block;
    border-bottom: 1px solid rgba(226, 221, 221, 0.87);
}

.dropdown-item:not(:last-child) {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.media {
    display: flex;
    align-items: center;
}

.img-circle {
    margin-right: 16px;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.text-desc {
    margin: 5px 0;
    font-size: 1.2rem;
}

.text-sm {
    font-size: 1.3rem;
}

.content {
    margin: 20px 0 0 250px;
    padding: 0 200px;
}

.content-title {
    text-align: center;
    font-size: 3rem;
}

.edit-content {
    padding: 8px 0;
    text-align: right;
}

.table {
    text-align: center;
}

th,
tr,
td {
    border: 1px solid #ccc;
    padding: 10px;
}

.table-book {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.table th {
    text-align: center;
    padding: 10px;
}

.btn-add,
.btn-edit,
.btn-delete {
    margin-left: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-add:hover {
    background-color: #007bff;
    color: white;
}

.btn-edit:hover {
    background-color: orange;
    color: white;
}

.btn-delete:hover {
    background-color: red;
    color: white;
}

.content-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
    padding: 5px;
}

.table {
    width: 100%;
}

.table-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.table-describe {
    width: 26%;
}

.col-describe {
    overflow: hidden;
    border: none;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.table-author-story {
    width: 50%;
}

.col-story {
    border: none;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.table-list {
    text-align: left;
}

.table-edit {
    width: 16%;
}

.table-story {
    width: 45%;
    text-align: justify;
}

.pagigation {
    padding: 3rem 2rem;
    text-align: center;
}

.pagigation-number {
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
}

.pagigation-icon {
    cursor: pointer;
}