<template>
  <section class="content">
    <div class="content-admin">
      <div class="content-top">
        <h3 class="btn content-title">Quản lý đơn hàng</h3>
        <div class="content-nav">
          <select name="sort-menu" id="sort">
            <option value="sort-titile">Sắp xếp theo</option>
            <option value="sort-abc">Tên sản phẩm</option>
            <option value="sort-ascending">Theo giá tăng dần</option>
            <option value="sort-decrease">Theo giá giảm dần</option>
          </select>
          <div class="edit-content">
            <button class="btn btn-add btn-add--order">
              <span>Thêm</span>
            </button>
          </div>
        </div>
      </div>
      <table class="table-order table">
        <tr>
          <th>STT</th>
          <th>ID người mua</th>
          <th>Ngày mua</th>
          <th>Chi tiết đơn hàng</th>
          <th class="table-edit">Tuỳ chọn</th>
        </tr>

        <tr>
          <td>1</td>
          <td>DG000001</td>
          <td>29/10/2021</td>
          <td class="table-list">
            <ul class="table-menu">
              <li class="table-menu-item">Rau</li>
              <li class="table-menu-item">Trứng</li>
              <li class="table-menu-item">Đậu</li>
              <li class="table-menu-item">Kem</li>
              <li class="table-menu-item">...</li>
            </ul>
          </td>
          <td>
            <button class="btn btn-edit btn-edit--order">
              <span>Sửa</span>
            </button>
            <button class="btn btn-delete btn-delete--order">
              <span>Xoá</span>
            </button>
          </td>
        </tr>
      </table>
      <div class="pagigation">
        <fa icon="chevron-left" class="pagigation-icon"></fa>
        <span class="pagigation-number">1</span>
        <span class="pagigation-number">2</span>
        <span class="pagigation-number">3</span>
        <span class="pagigation-number">...</span>
        <span class="pagigation-number">4</span>
        <fa icon="chevron-right" class="pagigation-icon"></fa>
      </div>
    </div>
    <div class="add-table">
      <div class="table-top">
        <h2 class="table-title">Thêm tác giả</h2>
      </div>
      <form action="" class="form form-add-author">
        <div class="form-group-author">
          <div class="form-admin-group form-name-author">
            <label for="name-author">Tên tác giả</label>
            <input
              class="form-input"
              type="text"
              id="name-author"
              name="name-author"
            />
          </div>
        </div>
        <div class="form-admin-group form-author-number">
          <label for="author-number">Số điện thoại</label>
          <textarea
            name="author-story"
            id="author-story"
            class="author-story"
          ></textarea>
        </div>
        <div class="group-btn">
          <button class="btn btn-add--success" type="submit">Xác nhận</button>
          <button class="btn btn-add--cancel" type="submit">Huỷ</button>
        </div>
      </form>
    </div>
    <div class="overlay"></div>
  </section>
</template>

<script>
export default {};
</script>

<style>
</style>