<template>
  <section class="content">
    <div class="content-top">
      <h3 class="btn content-title">Quản lý đơn hàng</h3>
      <div class="content-nav">
        <select name="sort-menu" id="sort">
          <option value="sort-titile">Sắp xếp theo</option>
          <option value="sort-abc">Tên sản phẩm</option>
          <option value="sort-ascending">Theo giá tăng dần</option>
          <option value="sort-decrease">Theo giá giảm dần</option>
        </select>
        <div class="edit-content">
          <button class="btn btn-add btn-add--order">
            <span>Thêm</span>
          </button>
        </div>
      </div>
    </div>
    <table class="table-order table">
      <tr>
        <th>STT</th>
        <th>ID người mua</th>
        <th>Ngày mua</th>
        <th>Chi tiết đơn hàng</th>
        <th class="table-edit">Tuỳ chọn</th>
      </tr>

      <tr>
        <td>1</td>
        <td>DG000001</td>
        <td>29/10/2021</td>
        <td>
          <ul class="table-list">
            <li class="table-list-item">Rau</li>
            <li class="table-list-item">Trứng</li>
            <li class="table-list-item">Đậu</li>
            <li class="table-list-item">Kem</li>
            <li class="table-list-item">...</li>
          </ul>
        </td>
        <td>
          <button class="btn btn-edit btn-edit--order">
            <span>Sửa</span>
          </button>
          <button class="btn btn-delete btn-delete--order">
            <span>Xoá</span>
          </button>
        </td>
      </tr>
    </table>
    <div class="pagigation">
      <fa icon="chevron-left" class="pagigation-icon"></fa>
      <span class="pagigation-number">1</span>
      <span class="pagigation-number">2</span>
      <span class="pagigation-number">3</span>
      <span class="pagigation-number">...</span>
      <span class="pagigation-number">4</span>
      <fa icon="chevron-right" class="pagigation-icon"></fa>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
</style>