<template>
  <section class="content">
    <div class="content-top">
      <h3 class="btn content-title">Quản lý Sách</h3>
      <div class="content-nav">
        <select name="sort-menu" id="sort">
          <option value="sort-titile">Sắp xếp theo</option>
          <option value="sort-abc">Tên sản phẩm</option>
          <option value="sort-ascending">Theo giá tăng dần</option>
          <option value="sort-decrease">Theo giá giảm dần</option>
        </select>
        <div class="edit-content">
          <button class="btn btn-add btn-add--book">
            <span>Thêm</span>
          </button>
          <button class="btn btn-edit btn-edit--book">
            <span>Sửa</span>
          </button>
          <button class="btn btn-delete btn-delete--book">
            <span>Xoá</span>
          </button>
        </div>
      </div>
    </div>
    <table class="table-book table">
      <tr>
        <th>STT</th>
        <th>Tên sách</th>
        <th>Hình ảnh</th>
        <th>Giá</th>
        <th>Giá bán</th>
        <th>Số lượng</th>
      </tr>

      <tr v-for="(item,index) in data" :key="index">
        <td>{{index+1}}</td>
        <td>{{item.name}}</td>
        <td>
          <img
            src="../../../.././assets/img/product/cao_pax.jpg"
            alt=""
            class="table-img"
          />
        </td>
        <td>10.000đ</td>
        <td>20.000đ</td>
        <td>1000</td>
      </tr>
    </table>
    <div class="pagigation">
      <fa icon="chevron-left" class="pagigation-icon"></fa>
      <span class="pagigation-number">1</span>
      <span class="pagigation-number">2</span>
      <span class="pagigation-number">3</span>
      <span class="pagigation-number">...</span>
      <span class="pagigation-number">4</span>
      <fa icon="chevron-right" class="pagigation-icon"></fa>
    </div>
  </section>
</template>

<script>
import axios from 'axios';
export default {
  data(){
    return{
      data: []
    }
  },
  created(){
    this.getBooks()
  },
  methods:{
    getBooks(){
      axios.get(`https://book-shop-backend.herokuapp.com/api/v1/books`)
      .then(res => {
        this.data = res.data.data
      })
      .catch(e => {
        this.errors.push(e)
      })
    }
  }
};
</script>

<style>
</style>