<template>
  <section class="content">
    <div class="content-admin">
      <div class="content-top">
        <h3 class="btn content-title">Quản lý Sách</h3>
        <div class="content-nav">
          <select name="sort-menu" id="sort">
            <option value="sort-titile">Sắp xếp theo</option>
            <option value="sort-abc">Tên sản phẩm</option>
            <option value="sort-ascending">Theo giá tăng dần</option>
            <option value="sort-decrease">Theo giá giảm dần</option>
          </select>
          <div class="edit-content">
            <button class="btn btn-add btn-add--book">
              <span>Thêm</span>
            </button>
          </div>
        </div>
      </div>
      <table class="table-book table">
        <tr>
          <th>STT</th>
          <th>Tên sách</th>
          <th>Tác giả</th>
          <th>Nhà xuất bản</th>
          <th>Miêu tả</th>
          <th>Số lượng</th>
          <th>Giá bán</th>
          <th>Giảm giá</th>
          <th class="table-edit">
            <button class="btn btn-edit btn-edit--book">
              <span>Sửa</span>
            </button>
            <button class="btn btn-delete btn-delete--book">
              <span>Xoá</span>
            </button>
          </th>
        </tr>
        <tr>
          <td>1</td>
          <td>Cho 1 vé đi tuổi thơ</td>
          <td>Nam Cao</td>
          <td>Kim Đồng</td>
          <td>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            doloribus fugit ex praesentium voluptates sit nesciunt, assumenda
            ducimus aperiam consectetur?
          </td>
          <td>10.000đ</td>
          <td>20.000đ</td>
          <td>1000</td>
        </tr>
      </table>
      <div class="pagigation">
        <fa icon="chevron-left" class="pagigation-icon"></fa>
        <span class="pagigation-number">1</span>
        <span class="pagigation-number">2</span>
        <span class="pagigation-number">3</span>
        <span class="pagigation-number">...</span>
        <span class="pagigation-number">4</span>
        <fa icon="chevron-right" class="pagigation-icon"></fa>
      </div>
    </div>
    <!-- <div class="overlay"></div> -->
    <!-- <div class="add-book">
      <div class="book-top">
        <h2 class="book-title">Thêm Sách</h2>
      </div>
      <form action="" class="form-add-book">
        <div class="form-group-name">
          <div class="form-admin-group form-name-book">
            <label for="name-book">Tên sách</label>
            <input
              class="form-input"
              type="text"
              id="name-book"
              name="name-book"
            />
          </div>
          <div class="form-admin-group form-name-author">
            <label for="name-author">Tên tác giả</label>
            <input
              class="form-input"
              type="text"
              id="name-author"
              name="name-author"
            />
          </div>
          <div class="form-admin-group form-name-=publisher">
            <label for="name-publisher">Tên nhà xuất bản</label>
            <input
              class="form-input"
              type="text"
              id="name-publisher"
              name="name-publisher"
            />
          </div>
        </div>
        <div class="form-admin-group form-describe">
          <label for="book-describe">Miêu tả</label>
          <input
            class="form-input book-describe"
            type="text"
            id="book-describe"
            name="book-describe"
          />
        </div>
        <div class="form-price">
          <div class="form-admin-group form-quantity-book">
            <label for="book-quatity">Số lượng</label>
            <input
              class="form-input"
              type="text"
              id="book-quantity"
              name="book-quantity"
            />
          </div>
          <div class="form-admin-group form-price-book">
            <label for="book-price-book">Giá sách</label>
            <input
              class="form-input"
              type="text"
              id="book-price-book"
              name="book-price-book"
            />
          </div>
        </div>
        <div class="group-btn">
          <button class="btn btn-add--success" type="submit">Xác nhận</button>
          <button class="btn btn-add--cancel" type="submit">Huỷ</buttom> 
        </div>
      </form> 
    </div> -->
  </section>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      data: [],
    };
  },
  created() {
    this.getBooks();
  },
  methods: {
    getBooks() {
      axios
        .get(`https://book-shop-backend.herokuapp.com/api/v1/books`)
        .then((res) => {
          this.data = res.data.data;
        })
        .catch((e) => {
          this.errors.push(e);
        });
    },
  },
};
</script>

<style>
</style>