<template>
  <div class="grid wide">
    <div class="cart">
      <div class="cart__heading">
        <h4 class="cart-heading__title">Giỏ hàng của bạn</h4>

        <a href="#" class="cart-heading__link">
          <i class="fas fa-long-arrow-alt-left cart-heading__icon"></i>
          <span class="cart-heading__text">Quay lại mua hàng</span>
        </a>
      </div>
      <div class="cart__body">
        <div class="cart__product">
          <ul class="cart-product__list">
            <li class="cart-product__item">
              <div class="cart-product__image">
                <img src="../../../assets/img/product/cao_pax.jpg" alt="" />
              </div>
              <div class="cart-product__detail">
                <div class="cart-product__title">Cáo Pax</div>
                <div class="cart-product__desc">
                  Cáo Pax là 1 chú cáo tinh nghịch, ham chơi, đua đòi
                </div>
              </div>
              <div class="cart-product__amount">
                <i
                  class="
                    fas
                    fa-plus
                    cart-product__icon cart-product__icon--left
                  "
                ></i>
                <input
                  type="number"
                  name="number"
                  id=""
                  class="cart-product__input"
                />
                <i
                  class="
                    fas
                    fa-minus
                    cart-product__icon cart-product__icon--right
                  "
                ></i>
              </div>
              <div class="cart-product__price">
                <span>90.000đ</span>
              </div>
              <div class="cart-product__remove">
                <button>
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </li>
            <li class="cart-product__item">
              <div class="cart-product__image">
                <img src="../../../assets/img/product/cao_pax.jpg" alt="" />
              </div>
              <div class="cart-product__detail">
                <div class="cart-product__title">Cáo Pax</div>
                <div class="cart-product__desc">
                  Cáo Pax là 1 chú cáo tinh nghịch, ham chơi, đua đòi
                </div>
              </div>
              <div class="cart-product__amount">
                <i
                  class="
                    fas
                    fa-plus
                    cart-product__icon cart-product__icon--left
                  "
                ></i>
                <input
                  type="number"
                  name="number"
                  id=""
                  class="cart-product__input"
                />
                <i
                  class="
                    fas
                    fa-minus
                    cart-product__icon cart-product__icon--right
                  "
                ></i>
              </div>
              <div class="cart-product__price">
                <span>90.000đ</span>
              </div>
              <div class="cart-product__remove">
                <button>
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </li>
            <li class="cart-product__item">
              <div class="cart-product__image">
                <img src="../../../assets/img/product/cao_pax.jpg" alt="" />
              </div>
              <div class="cart-product__detail">
                <div class="cart-product__title">Cáo Pax</div>
                <div class="cart-product__desc">
                  Cáo Pax là 1 chú cáo tinh nghịch, ham chơi, đua đòi
                </div>
              </div>
              <div class="cart-product__amount">
                <i
                  class="
                    fas
                    fa-plus
                    cart-product__icon cart-product__icon--left
                  "
                ></i>
                <input
                  type="number"
                  name="number"
                  id=""
                  class="cart-product__input"
                />
                <i
                  class="
                    fas
                    fa-minus
                    cart-product__icon cart-product__icon--right
                  "
                ></i>
              </div>
              <div class="cart-product__price">
                <span>90.000đ</span>
              </div>
              <div class="cart-product__remove">
                <button>
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </li>
            <li class="cart-product__item">
              <div class="cart-product__image">
                <img src="../../../assets/img/product/cao_pax.jpg" alt="" />
              </div>
              <div class="cart-product__detail">
                <div class="cart-product__title">Cáo Pax</div>
                <div class="cart-product__desc">
                  Cáo Pax là 1 chú cáo tinh nghịch, ham chơi, đua đòi
                </div>
              </div>
              <div class="cart-product__amount">
                <i
                  class="
                    fas
                    fa-plus
                    cart-product__icon cart-product__icon--left
                  "
                ></i>
                <input
                  type="number"
                  name="number"
                  id=""
                  class="cart-product__input"
                />
                <i
                  class="
                    fas
                    fa-minus
                    cart-product__icon cart-product__icon--right
                  "
                ></i>
              </div>
              <div class="cart-product__price">
                <span>90.000đ</span>
              </div>
              <div class="cart-product__remove">
                <button>
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </li>
          </ul>
        </div>

        <div class="cart__checkout">
          <form action="" class="form-cart">
            <div class="form-group">
              <input
                type="text"
                name="username"
                id=""
                placeholder="Họ và tên"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                name="email"
                id=""
                placeholder="Email của bạn"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="phonenumber"
                id=""
                placeholder="Số điện thoại"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="address"
                id=""
                placeholder="Địa chỉ của bạn"
              />
            </div>
          </form>

          <div class="cart-money">
            <div class="subtotal">
              <div class="subtotal__group grid__row justify-space-between">
                <div class="subtotal__text">Tạm tính</div>
                <div class="subtotal__price">90.000đ</div>
              </div>

              <div class="subtotal__group grid__row justify-space-between">
                <div class="subtotal__text">Phí vận chuyển</div>
                <div class="subtotal__price">30.000đ</div>
              </div>
            </div>

            <div class="total grid__row justify-space-between">
              <div class="total__text">Tổng tiền</div>
              <div class="total__price">120.000đ</div>
            </div>

            <div class="form-abate">
              <button type="submit" class="btn__abate">Thanh Toán</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      popular: [1, 2, 3, 4, 5, 6],
    };
  },
};
</script>

<style>
</style>