<template>
  <aside class="main-sidebar">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img
        src="../../../assets/img/logo.png"
        alt="AdminLTE Logo"
        class="brand-image"
      />
      <span class="brand-text">H&K Shop</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="image">
          <img
            src="../../../assets/img/logo.png"
            class="brand-image"
            alt="User Image"
          />
        </div>
        <div class="info">
          <a href="#" class="info-link">Vũ Minh Hiếu</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input
            class="form-control-sidebar"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-append">
            <button class="btn-search-append">
              <fa icon="search"></fa>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="sidebar-menu">
        <ul
          class="nav-sidebar"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <router-link to="/admin" class="nav-link">
              <p>Quản lý sách</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/admin/admin-author" class="nav-link">
              <p>Quản lý tác giả</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/admin/admin-user" class="nav-link">
              <p>Quản lý người dùng</p>
            </router-link>
          </li>
          <li class="nav-item">
            <a href="/admin/admin-order" class="nav-link">
              <p>Quản lý Đơn hàng</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/admin-publisher" class="nav-link">
              <p>Danh sách tác giả</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
export default {};
</script>

<style>
</style>