<template>
  <div class="main-content col l-8">
    <div class="content-product">
      <form action="" class="form hide-on-mobile-tablet">
        <div class="form__inner grid__row">
          <div class="form-box">
            <i class="fas fa-bars form-box__icon--left form-box__icon"></i>
          </div>
          <div class="form__search">
            <input
              type="text"
              name="main-search"
              id="search"
              placeholder="Tìm kiếm sách bạn muốn tìm..."
            />
          </div>
          <div class="form-box">
            <i class="fas fa-search form-box__icon--right form-box__icon"></i>
          </div>
        </div>
      </form>

      <div class="main-product">
        <h3 class="product__title m-0 c-0">Tất cả sản phẩm</h3>

        <div class="product__lists">
          <h3 class="product__title l-0">Tất cả sản phẩm</h3>
          <div class="row">
            <div
              class="col l-3 m-3 c-12"
              v-for="(item, index) in product"
              :key="index"
            >
              <div class="product__items">
                <img
                  src="../../../../../assets/img/product/cao_pax.jpg"
                  alt=""
                  class="product__image"
                />
                <a href="" class="product__link">
                  <h4 class="product__name">Cáo Pax</h4>
                  <span class="product__desc">Tiểu thuyết</span>
                </a>
                <span class="product__price"> <a href="">92.800đ</a> </span>
                <div class="product__choose">
                  <div class="product-choose__cart">
                    <span class="product-choose__add">
                      <button class="product-chosse__btn">
                        <fa icon="plus"></fa>
                      </button>
                    </span>
                    <div class="product-choose__buynow">
                      <a href="" class="product-choose__link">Mua ngay</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      product: [0, 1, 2, 3, 1, 2, 3, 4],
    };
  },
};
</script>

<style>
</style>