<template>
  <section class="content">
    <div class="content-admin">
      <div class="content-top">
        <h3 class="btn content-title">Quản lý nhà xuất bản</h3>
        <div class="content-nav">
          <select name="sort-menu" id="sort">
            <option value="sort-titile">Sắp xếp theo</option>
            <option value="sort-abc">Tên sản phẩm</option>
            <option value="sort-ascending">Theo giá tăng dần</option>
            <option value="sort-decrease">Theo giá giảm dần</option>
          </select>
          <div class="edit-content">
            <button class="btn btn-add btn-add--publisher">
              <span>Thêm</span>
            </button>
          </div>
        </div>
      </div>
      <table class="table-publisher table">
        <tr>
          <th>STT</th>
          <th>Tên nhà xuất bản</th>
          <th>Địa chỉ</th>
          <th class="table-edit">Tuỳ chọn</th>
        </tr>

        <tr>
          <td>1</td>
          <td>Tuổi trẻ</td>
          <td>Lĩnh Nam -Hà Nội</td>
          <td>
            <button class="btn btn-edit btn-edit--publisher">
              <span>Sửa</span>
            </button>
            <button class="btn btn-delete btn-delete--publisher">
              <span>Xoá</span>
            </button>
          </td>
        </tr>
      </table>
      <div class="pagigation">
        <fa icon="chevron-left" class="pagigation-icon"></fa>
        <span class="pagigation-number">1</span>
        <span class="pagigation-number">2</span>
        <span class="pagigation-number">3</span>
        <span class="pagigation-number">...</span>
        <span class="pagigation-number">4</span>
        <fa icon="chevron-right" class="pagigation-icon"></fa>
      </div>
      <div class="add-table">
        <div class="table-top">
          <h2 class="table-title">Thêm nhà xuất bản</h2>
        </div>
        <form action="" class="form form-add-publisher">
          <div class="form-group-publisher">
            <div class="form-admin-group form-name-publisher">
              <label for="name-publisher">Tên tác giả</label>
              <input
                class="form-input"
                type="text"
                id="name-publisher"
                name="name-publisher"
              />
            </div>
          </div>
          <div class="form-admin-group form-publisher-number">
            <label for="publisher-number">Số điện thoại</label>
            <textarea
              name="publisher-story"
              id="publisher-story"
              class="publisher-story"
            ></textarea>
          </div>
          <div class="group-btn">
            <button class="btn btn-add--success" type="submit">Xác nhận</button>
            <button class="btn btn-add--cancel" type="submit">Huỷ</button>
          </div>
        </form>
      </div>
    </div>
    <div class="overlay"></div>
  </section>
</template>

<script>
export default {};
</script>

<style>
</style>