<template>
  <section class="content">
    <div class="content-top">
      <h3 class="btn content-title">Quản lý nhà xuất bản</h3>
      <div class="content-nav">
        <select name="sort-menu" id="sort">
          <option value="sort-titile">Sắp xếp theo</option>
          <option value="sort-abc">Tên sản phẩm</option>
          <option value="sort-ascending">Theo giá tăng dần</option>
          <option value="sort-decrease">Theo giá giảm dần</option>
        </select>
        <div class="edit-content">
          <button class="btn btn-add btn-add--publisher">
            <span>Thêm</span>
          </button>
        </div>
      </div>
    </div>
    <table class="table-publisher table">
      <tr>
        <th>STT</th>
        <th>Tên nhà xuất bản</th>
        <th>Địa chỉ</th>
        <th>Tiểu sử</th>
        <th class="table-edit">Tuỳ chọn</th>
      </tr>

      <tr>
        <td>1</td>
        <td>Tuổi trẻ</td>
        <td>Lĩnh Nam -Hà Nội</td>
        <td>0987654321</td>
        <td>
          <button class="btn btn-edit btn-edit--publisher">
            <span>Sửa</span>
          </button>
          <button class="btn btn-delete btn-delete--publisher">
            <span>Xoá</span>
          </button>
        </td>
      </tr>
    </table>
    <div class="pagigation">
      <fa icon="chevron-left" class="pagigation-icon"></fa>
      <span class="pagigation-number">1</span>
      <span class="pagigation-number">2</span>
      <span class="pagigation-number">3</span>
      <span class="pagigation-number">...</span>
      <span class="pagigation-number">4</span>
      <fa icon="chevron-right" class="pagigation-icon"></fa>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
</style>