* {
    box-sizing: inherit;
}

:root {
    --white-color: #fff;
    --base-color: #333;
    --second-color: #a4abb6;
    --primary-color: #4abfa1;
    --bg-box-color: #ebfffb;
    --bg-change-color: #84b7d3;
}

html {
    font-size: 62.5%;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 auto;
}

.justify-space-between {
    justify-content: space-between;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}