.login,
.register {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.login__inner,
.register__inner {
    text-align: center;
    background-color: var(--bg-box-color);
    padding: 2rem 3rem;
    min-width: 50rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(16 158 135 / 40%);
}

.login__link,
.register__link {
    display: block;
}

.login__title,
.register__title {
    font-size: 3.5rem;
    margin: 2rem 0;
    color: var(--primary-color);
}

.form-group__input {
    margin-bottom: 2rem;
}

.form-group {
    margin: 1.5rem 2rem;
    align-items: center;
}

.form-group .form__input {
    width: 100%;
    padding: 1rem 2rem;
    /* outline: none; */
    border: 0.1rem solid #ececec;
    border-radius: 0.5rem;
    /* box-shadow: 0 0 10px rgb(16 158 135 / 40%); */
    outline-width: 0.1rem;
    outline-color: var(--primary-color);
}

.form-group .form__input::-webkit-input-placeholder {
    color: var(--second-color);
    font-style: italic;
}

.form-btn__login,
.form-btn__register {
    width: 60%;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1rem;
    color: var(--white-color);
    font-size: 1.8rem;
    cursor: pointer;
    margin: 1.5rem 0;
}

.form-btn__login:hover {
    box-shadow: 0 0 10px rgb(74, 191, 161);
}

.form-btn__register:hover {
    box-shadow: 0 0 10px rgb(74, 191, 161);
}

.form-group span {
    color: var(--second-color);
    font-size: 1.6rem;
}

.form-group__social {
    margin: 2rem 0;
}

.form-group button {
    display: inline-block;
    cursor: pointer;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    color: var(--white-color);
}

.form-group__google {
    flex: 1;
    text-transform: uppercase;
    background-color: #dd4b39;
    margin-right: 1rem;
}

.form-group__google:hover {
    box-shadow: 0 0 20px rgb(221, 75, 57);
}

.form-group i {
    margin: 0 0.5rem;
    font-size: 1.6rem;
}

.form-group__facebook {
    margin-left: 1rem;
    flex: 1;
    background-color: #3b5999;
    text-transform: uppercase;
}

.form-group__facebook:hover {
    box-shadow: 0 0 20px rgb(59, 89, 153);
}

.form-group__ques {
    margin-top: 3rem;
}

