.container {
    margin-top: 5rem;
}

.product-detail__image {
    text-align: center;
    flex: 1;
    padding: 1rem;
}

.product-detail__image img {
    width: 100%;
    height: 40rem;
    object-fit: contain;
}

.product-detail__info {
    flex: 1;
    padding: 0 1rem;
}

.product-info__title {
    font-size: 4rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.product-info__attribute {
    margin-bottom: 2rem;
}

.product-info__item {
    font-size: 1.6rem;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
}

.product-info__item span {
    border-bottom: 1px solid #000;
}

.product-card {
    margin-bottom: 2rem;
}

.product-card__price {
    display: block;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.product-card__price span {
    font-size: 4rem;
}

.product-card__name-count {
    font-size: 2rem;
}

.product-card__count input {
    width: 5rem;
    padding: 0.5rem;
    margin-left: 1rem;
    outline: none;
    border-radius: 1px;
    border: 1px solid var(--second-color);
    outline: none;
}

.product-buy {
    display: flex;
}

.product-buy__now {
    margin-left: 2rem;
}

.product-buy a {
    display: inline-block;
    text-decoration: none;
    background-color: var(--second-color);
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    color: var(--white-color);
    font-size: 1.6rem;
    border-radius: 0.5rem;
}

.product-buy__add-cart button {
    margin-right: 2rem;
}

.product-buy__add-cart:hover button {
    background-color: var(--bg-change-color);
    box-shadow: 0px 0px 10px 0px rgb(83 152 156);
}

.product-buy__now:hover button {
    background-color: var(--primary-color);
    box-shadow: 0px 0px 10px 0px rgb(107 173 134);
}

.product-about {
    margin-top: 3rem;
    font-size: 1.6rem;
}

.product-about__title {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    padding-bottom: 2rem;
}

.product-about__text {
    text-align: justify;
    line-height: 1.6;
}

.product-same {
    margin-top: 4rem;
}

.evaluate {
    padding-top: 100px;
}

.evaluate-title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.evaluate-top {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.evaluate-average {
    width: 30%;
    text-align: center;
}

.evaluate-average-title {
    font-size: 20px;
}

.evaluate-average span {
    display: inline-block;
    color: #ec2e2e;
    font-size: 30px;
    padding: 20px 5px;
}

.evaluate-vote {
    width: 40%;
}

.evaluate-vote-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.evaluate-vote-average {
    padding-right: 0;
}

.evaluate-vote-number,
.evaluate-vote-percent {
    width: 10%;
}

.evaluate-vote-bar {
    width: 80%;
    height: 16px;
    background-color: rgba(204, 204, 204, 0.664);
    border-radius: 10px;
    margin: 0 5px;
}

.isVotting {
    background-color: #5cb85c;
}

.write-vote {
    text-align: center;
}

.btn-write-vote {
    background-color: #d9534f !important;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
    padding: 8px 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.form-vote {
    text-align: right;
}

.form-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-vote .form-text {
    width: 50%;
    padding: 20px 10px;
    font-size: 18px;
}

.btn-form {
    display: block;
    text-align: right;
    background-color: #d9534f !important;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
    padding: 8px 10px;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: auto;
}


/* user rating */

.rating-item {
    padding: 30px 15px;
}

.rating-item:not(:first-child) {
    border-top: 1px solid #ccc;
}

.rating-user {
    margin-top: 100px;
}

.rating-top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rating-img {
    width: 50px;
    height: 50px;
    margin: 0 15px;
    border-radius: 50%;
}

.rating {
    padding-left: 10px;
}

.rating-icon {
    color: #ffc107;
}

.rating-bottom {
    margin-top: 20px;
}

.rating-content {
    line-height: 1.3;
    color: #686464;
    padding-bottom: 10px;
}

.rating-day {
    font-size: 12px;
    font-style: italic;
}