<template>
  <section class="content">
    <div class="content-admin">
      <div class="content-top">
        <h3 class="btn content-title">Quản lý khách hàng</h3>
        <div class="content-nav">
          <select name="sort-menu" id="sort">
            <option value="sort-titile">Sắp xếp theo</option>
            <option value="sort-abc">Tên sản phẩm</option>
            <option value="sort-ascending">Theo giá tăng dần</option>
            <option value="sort-decrease">Theo giá giảm dần</option>
          </select>
          <div class="edit-content">
            <button class="btn btn-add btn-add--orderdetail">
              <span>Thêm</span>
            </button>
          </div>
        </div>
      </div>
      <table class="table-orderdetail table">
        <tr>
          <th>STT</th>
          <th>Tên độc giả</th>
          <th>Email</th>
          <th>Mật khẩu</th>
          <th>Số điện thoại</th>
          <th>Giói tính</th>
          <th>Ngày sinh</th>
          <th>relo</th>
          <th class="table-edit">Tuỳ chọn</th>
        </tr>

        <tr>
          <td>1</td>
          <td>Nguyễn Tiến Khánh</td>
          <td>tienkhanh@gmail.com</td>
          <td>12345678a@</td>
          <td>0987654321</td>
          <td>Nam</td>
          <td>29/11/2000</td>
          <td>?</td>
          <td>
            <button class="btn btn-edit btn-edit--orderdetail">
              <span>Sửa</span>
            </button>
            <button class="btn btn-delete btn-delete--orderdetail">
              <span>Xoá</span>
            </button>
          </td>
        </tr>
      </table>
      <div class="pagigation">
        <fa icon="chevron-left" class="pagigation-icon"></fa>
        <span class="pagigation-number">1</span>
        <span class="pagigation-number">2</span>
        <span class="pagigation-number">3</span>
        <span class="pagigation-number">...</span>
        <span class="pagigation-number">4</span>
        <fa icon="chevron-right" class="pagigation-icon"></fa>
      </div>
      <div class="add-table">
        <div class="table-top">
          <h2 class="table-title">Thêm độc giả</h2>
        </div>
        <form action="" class="form form-add-user">
          <div class="form-group-user">
            <div class="form-admin-group form-name-user">
              <label for="name-book">Tên độc giả</label>
              <input
                class="form-input"
                type="text"
                id="name-user"
                name="name-user"
              />
            </div>
            <div class="form-admin-group form-email">
              <label for="user-email">Email</label>
              <input
                class="form-input"
                type="email"
                id="user-email"
                name="user-email"
              />
            </div>
            <div class="form-admin-group form-pass">
              <label for="user-pass">Mật khẩu</label>
              <input
                class="form-input"
                type="password"
                id="user-pass"
                name="user-pass"
              />
            </div>
          </div>
          <div class="form-sub-info">
            <div class="form-admin-group form-date-user">
              <label for="date-user">Ngày sinh</label>
              <input
                class="form-input"
                type="date"
                id="date-user"
                name="date-user"
              />
            </div>
            <div class="form-admin-group form-user-number">
              <label for="user-number">Số điện thoại</label>
              <input
                class="form-input"
                type="text"
                id="user-number"
                name="user-number"
              />
            </div>
          </div>
          <div class="form-admin-group form-gender">
            <label for="user-gender">Giới tính</label>
            <div class="form-male">
              <label for="user-male">Nam</label>
              <input type="radio" name="gender" />
            </div>
          </div>
          <div class="group-btn">
            <button class="btn btn-add--success" type="submit">Xác nhận</button>
            <button class="btn btn-add--cancel" type="submit">Huỷ</button>
          </div>
        </form>
      </div>
    </div>
    <div class="overlay"></div>
  </section>
</template>

<script>
export default {};
</script>

<style>
</style>
