<template>
  <section class="content">
    <div class="content-top">
      <h3 class="btn content-title">Quản lý khách hàng</h3>
      <div class="content-nav">
        <select name="sort-menu" id="sort">
          <option value="sort-titile">Sắp xếp theo</option>
          <option value="sort-abc">Tên sản phẩm</option>
          <option value="sort-ascending">Theo giá tăng dần</option>
          <option value="sort-decrease">Theo giá giảm dần</option>
        </select>
        <div class="edit-content">
          <button class="btn btn-add btn-add--orderdetail">
            <span>Thêm</span>
          </button>
        </div>
      </div>
    </div>
    <table class="table-orderdetail table">
      <tr>
        <th>STT</th>
        <th>Tên người dùng</th>
        <th>Email</th>
        <th>Mật khẩu</th>
        <th>Số điện thoại</th>
        <th>Giói tính</th>
        <th>Ngày sinh</th>
        <th>relo</th>
        <th class="table-edit">Tuỳ chọn</th>
      </tr>

      <tr>
        <td>1</td>
        <td>Nguyễn Tiến Khánh</td>
        <td>tienkhanh@gmail.com</td>
        <td>12345678a@</td>
        <td>0987654321</td>
        <td>Nam</td>
        <td>29/11/2000</td>
        <td>?</td>
        <td>
          <button class="btn btn-edit btn-edit--orderdetail">
            <span>Sửa</span>
          </button>
          <button class="btn btn-delete btn-delete--orderdetail">
            <span>Xoá</span>
          </button>
        </td>
      </tr>
    </table>
    <div class="pagigation">
      <fa icon="chevron-left" class="pagigation-icon"></fa>
      <span class="pagigation-number">1</span>
      <span class="pagigation-number">2</span>
      <span class="pagigation-number">3</span>
      <span class="pagigation-number">...</span>
      <span class="pagigation-number">4</span>
      <fa icon="chevron-right" class="pagigation-icon"></fa>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
</style>
