<template>
  <section class="content">
    <div class="content-top">
      <h3 class="btn content-title">Quản lý chi tiết đơn hàng</h3>
      <div class="content-nav">
        <select name="sort-menu" id="sort">
          <option value="sort-titile">Sắp xếp theo</option>
          <option value="sort-abc">Tên sản phẩm</option>
          <option value="sort-ascending">Theo giá tăng dần</option>
          <option value="sort-decrease">Theo giá giảm dần</option>
        </select>
        <div class="edit-content">
          <button class="btn btn-add btn-add--orderdetail">
            <span>Thêm</span>
          </button>
          <button class="btn btn-edit btn-edit--orderdetail">
            <span>Sửa</span>
          </button>
          <button class="btn btn-delete btn-delete--orderdetail">
            <span>Xoá</span>
          </button>
        </div>
      </div>
    </div>
    <table class="table-orderdetail table">
      <tr>
        <th>STT</th>
        <th>Số lượng</th>
        <th>Đơn giá</th>
        <th>Đánh giá</th>
      </tr>

      <tr>
        <td>1</td>
        <td>20</td>
        <td>1000.000.000đ</td>
        <td>Hài lòng chất lượng sản phẩm</td>
      </tr>
    </table>
    <div class="pagigation">
      <fa icon="chevron-left" class="pagigation-icon"></fa>
      <span class="pagigation-number">1</span>
      <span class="pagigation-number">2</span>
      <span class="pagigation-number">3</span>
      <span class="pagigation-number">...</span>
      <span class="pagigation-number">4</span>
      <fa icon="chevron-right" class="pagigation-icon"></fa>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
</style>
