<template>
  <main class="all-product">
    <div class="row">
      <Category />
      <ShowProducts />
    </div>
  </main>
</template>

<script>
import ShowProducts from "./showProducts/showProducts.vue";
import Category from "./Category/Category.vue";

export default {
  components: {
    Category,
    ShowProducts,
  },
};
</script>

<style>
</style>