<template>
  <section class="content">
    <div class="content-admin">
      <div class="content-top">
        <h3 class="btn content-title">Quản lý tác giả</h3>
        <div class="content-nav">
          <select name="sort-menu" id="sort">
            <option value="sort-titile">Sắp xếp theo</option>
            <option value="sort-abc">Tên sản phẩm</option>
            <option value="sort-ascending">Theo giá tăng dần</option>
            <option value="sort-decrease">Theo giá giảm dần</option>
          </select>
          <div class="edit-content">
            <button class="btn btn-add btn-add--author">
              <span>Thêm</span>
            </button>
          </div>
        </div>
      </div>
      <table class="table-auhtor table">
        <tr>
          <th>STT</th>
          <th>Tên tác giả</th>
          <th class="table-author-story">Tiểu sử</th>
          <th class="table-edit">Tuỳ chọn</th>
        </tr>

        <tr>
          <td>1</td>
          <td>Trịnh Công Sơn</td>
          <td class="col-story">
            Trịnh Công Sơn (28 tháng 2 năm 1939 – 1 tháng 4 năm 2001) là một nam
            nhạc sĩ người Việt Nam. Ông được coi là một trong những nhạc sĩ lớn
            của Tân nhạc Việt Nam với nhiều tác phẩm nổi tiếng. Hiện nay chưa có
            thống kê chính xác về số tác phẩm để lại của ông (ước đoán con số
            không dưới 600 ca khúc).[2] Tuy nhiên số ca khúc của ông được biết
            đến rộng rãi là 236 ca khúc (cả lời và nhạc). Nhạc của Trịnh Công
            Sơn được nhiều ca sĩ thể hiện, nhưng thành công hơn cả là Khánh Ly,
            danh ca gắn liền tên tuổi với hàng trăm ca khúc của ông. Ngoài ra,
            ông còn được xem là một nhà thơ, một họa sĩ, một diễn viên và một ca
            sĩ không chuyên (ông từng biểu diễn một số bài hát do chính mình
            sáng tác).
          </td>
          <td>
            <button class="btn btn-edit btn-edit--author">
              <span>Sửa</span>
            </button>
            <button class="btn btn-delete btn-delete-author">
              <span>Xoá</span>
            </button>
          </td>
        </tr>
      </table>
      <div class="pagigation">
        <fa icon="chevron-left" class="pagigation-icon"></fa>
        <span class="pagigation-number">1</span>
        <span class="pagigation-number">2</span>
        <span class="pagigation-number">3</span>
        <span class="pagigation-number">...</span>
        <span class="pagigation-number">4</span>
        <fa icon="chevron-right" class="pagigation-icon"></fa>
      </div>
      <div class="add-table">
        <div class="table-top">
          <h2 class="table-title">Thêm tác giả</h2>
        </div>
        <form action="" class="form form-add-user">
          <div class="form-group-user">
            <div class="form-admin-group form-name-user">
              <label for="name-book">Tên tác giả</label>
              <input
                class="form-input"
                type="text"
                id="name-user"
                name="name-user"
              />
            </div>
          </div>
          <div class="form-sub-info">
            <div class="form-admin-group form-date-user">
              <label for="date-user">Ngày sinh</label>
              <input
                class="form-input"
                type="date"
                id="date-user"
                name="date-user"
              />
            </div>
            <div class="form-admin-group form-user-number">
              <label for="user-number">Số điện thoại</label>
              <input
                class="form-input"
                type="text"
                id="user-number"
                name="user-number"
              />
            </div>
          </div>
          <div class="form-admin-group form-gender">
            <label for="user-gender">Giới tính</label>
            <div class="form-gender-box">
              <div class="form-male">
                <input type="radio" name="gender" id="user-male" />
                <label for="user-male">Nam</label>
              </div>
              <div class="form-female">
                <input type="radio" name="gender" id="user-female" />
                <label for="user-female">Nữ</label>
              </div>
            </div>
          </div>
          <div class="group-btn">
            <button class="btn btn-add--success" type="submit">Xác nhận</button>
            <button class="btn btn-add--cancel" type="submit">Huỷ</button>
          </div>
        </form>
      </div>
    </div>
    <div class="overlay"></div>
  </section>
</template>

<script>
export default {
  created() {},
  methods: {},
};
</script>

<style>
</style>