<template>
  <footer id="footer">
    <div class="grid wide">
      <div class="footer__inner">
        <div class="logo">
          <img src="../../../assets/img/logo.png" alt="" class="logo__image" />
        </div>

        <div class="info">
          <ul class="info__lisl">
            <li class="info_item">
              <a href="" class="info__link">Giới thiệu</a>
            </li>
            <li class="info_item">
              <a href="" class="info__link">Chính sách bảo mật</a>
            </li>
            <li class="info_item">
              <a href="" class="info__link">Chính sách vận chuyển</a>
            </li>
            <li class="info_item">
              <a href="" class="info__link">Hình thức thanh toán</a>
            </li>
          </ul>
        </div>
        <div class="rule">
          <ul class="info__lisl">
            <li class="info_item">
              <a href="" class="info__link">Giới thiệu</a>
            </li>
            <li class="info_item">
              <a href="" class="info__link">Chính sách bảo mật</a>
            </li>
            <li class="info_item">
              <a href="" class="info__link">Chính sách vận chuyển</a>
            </li>
            <li class="info_item">
              <a href="" class="info__link">Hình thức thanh toán</a>
            </li>
          </ul>
        </div>
        <div class="rule">
          <ul class="info__lisl">
            <li class="info_item">
              <a href="" class="info__link">Giới thiệu</a>
            </li>
            <li class="info_item">
              <a href="" class="info__link">Chính sách bảo mật</a>
            </li>
            <li class="info_item">
              <a href="" class="info__link">Chính sách vận chuyển</a>
            </li>
            <li class="info_item">
              <a href="" class="info__link">Hình thức thanh toán</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="grid wide">
        <div class="box-copyright">
          <div class="name-shop">h&kbook@gmail.com</div>
          <div class="social">
            <ul class="social__list grid__row">
              <li class="social__item">
                <a href="" class="social__link">
                  <fa icon="facebook"></fa>
                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link">
                  <fa icon="instagram"></fa>
                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link">
                  <fa icon="dribbble"></fa>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style>
</style>