<template>
  <div class="main-content">
    <div class="product-detail row">
      <div class="col l-8">
        <div class="product-detail__image">
          <img src="../../../assets/img/product_detail/1.jpg" alt="" />
        </div>
      </div>
      <div class="col l-4">
        <div class="product-detail__info">
          <h4 class="product-info__title">Tên sản phẩm</h4>

          <ul class="product-info__attribute">
            <li class="product-info__item">
              <span>Mã sản phẩm:</span>
            </li>
            <li class="product-info__item">
              <span>Tác giả:</span>
            </li>
            <li class="product-info__item">
              <span>Dịch giả:</span>
            </li>
            <li class="product-info__item">
              <span>Nhà xuất bản:</span>
            </li>
            <li class="product-info__item">
              <span>Số trang:</span>
            </li>
            <li class="product-info__item">
              <span>Kích thước:</span>
            </li>
            <li class="product-info__item">
              <span>Ngày phát hành:</span>
            </li>
          </ul>

          <div class="product-card">
            <p class="product-card__price">Giá: <span>90.000đ</span></p>
            <span class="product-card__count">
              <input type="number" name="count" id="" min="1" />
            </span>
          </div>

          <div class="product-buy">
            <div class="product-buy__add-cart">
              <a href="">
                <span>Thêm vào giỏ hàng</span>
              </a>
            </div>
            <div class="product-buy__now">
              <a href="/cart" class="product-buy__btn--buynow"> Mua ngay </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-about">
      <h4 class="product-about__title">Giới thiệu sách</h4>
      <p class="product-about__text">
        Thẩm Thanh truyện và Xuân Hương truyện là hai tác phẩm tiêu biểu, được
        xem là viên ngọc quý trong kho tàng văn chương cổ điển bán đảo Triều
        Tiên. Hai câu chuyện tiếp cận hai chủ đề khác nhau nhưng đều lột tả được
        tính cách của con người Triều Tiên cũng như bảo lưu được đạo đức truyền
        thống dân tộc. Nếu Thẩm Thanh truyện là câu chuyện đầy tính nhân đạo và
        nhân văn sâu sắc, được thể hiện thông qua hình tượng người con gái hiếu
        thảo Thẩm Thanh, không vì hạnh phúc của bản thân mà rời bỏ người cha
        nghèo mù lòa Thẩm Hạc Khuê để đi tìm một cuộc sống sung sướng, thì Xuân
        Hương truyện lại là khúc hát ngợi ca tình yêu của Xuân Hương và Lý Mộng
        Long trong hành khúc chiến đấu chống lại bạo lực và áp bức của chế độ
        phong kiến. Dãu được ra đời cách nay nhiều thế kỷ, nhưng giá trị nhân
        văn, đạo đức trong Thẩm Thanh truyện và Xuân Hương truyện vẫn được khơi
        dậy và cổ xúy trong thế giới hiện đại, như một biểu trưng bất diệt cho
        tinh thần của con người bán đảo Triều Tiên.
      </p>
    </div>

    <div class="product-same">
      <h4 class="product-same__title product__title">Sản phẩm tương tự</h4>
      <div class="row">
        <div
          class="product__lists col l-2"
          v-for="(item, index) in productdetail"
          :key="index"
        >
          <div class="">
            <div class="product__items">
              <img
                src="../../../assets/img/product/cao_pax.jpg"
                alt=""
                class="product__image"
              />
              <a href="" class="product__link">
                <h4 class="product__name">Cáo Pax</h4>
                <span class="product__desc">Tiểu thuyết</span>
              </a>
              <span class="product__price"> <a href="">92.800đ</a> </span>
              <div class="product__choose">
                <div class="product-choose__cart">
                  <span class="product-choose__add">
                    <button class="product-chosse__btn">
                      <fa icon="plus"></fa>
                    </button>
                  </span>
                  <div class="product-choose__buynow">
                    <a href="/product" class="product-choose__link">Mua ngay</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="evaluate">
      <h3 class="evaluate-title">Khách hàng nhận xét</h3>
      <div class="evaluate-top">
        <div class="evaluate-average">
          <h4 class="evaluate-average-title">Đánh giá trung bình</h4>
          <span class="evaluate-vote-average">4.9/</span>
          <span class="evaluate-total">5</span>
          <p class="person-vote">(1 người đã nhận xét)</p>
        </div>
        <div class="evaluate-vote">
          <div class="evaluate-vote-item">
            <span class="evaluate-vote-number">5 <fa icon="star"></fa> </span>
            <span class="evaluate-vote-bar isVotting"></span>
            <span class="evaluate-vote-percent">100%</span>
          </div>
          <div class="evaluate-vote-item">
            <span class="evaluate-vote-number">4 <fa icon="star"></fa> </span>
            <span class="evaluate-vote-bar"></span>
            <span class="evaluate-vote-percent">0%</span>
          </div>
          <div class="evaluate-vote-item">
            <span class="evaluate-vote-number">3 <fa icon="star"></fa> </span>
            <span class="evaluate-vote-bar"></span>
            <span class="evaluate-vote-percent">0%</span>
          </div>
          <div class="evaluate-vote-item">
            <span class="evaluate-vote-number">2 <fa icon="star"></fa> </span>
            <span class="evaluate-vote-bar"></span>
            <span class="evaluate-vote-percent">0%</span>
          </div>
          <div class="evaluate-vote-item">
            <span class="evaluate-vote-number">1 <fa icon="star"></fa> </span>
            <span class="evaluate-vote-bar"></span>
            <span class="evaluate-vote-percent">0%</span>
          </div>
        </div>
        <div class="write-vote">
          <h4 class="write-vote-title">Chia sẻ nhận xét của bạn</h4>
          <button class="btn btn-write-vote">Viết đánh giá của bạn</button>
          <!-- <button class="btn btn-write-close">Đóng</button> -->
        </div>
        <!-- click button write vote hiện form nhận xét -->
      </div>
    </div>
    <!-- <form action="" class="form-vote">
      <h3 class="form-title">Đánh giá, bình luận</h3>
      <textarea name="text-form" class="form-text"></textarea>
      <button class="btn btn-form" type="submit">Gửi đánh giá</button>
    </form> -->

    <div class="rating-user">
      <div class="rating-item">
        <div class="rating-top">
          <img src="../../.././assets/img/logo.png" alt="" class="rating-img" />
          <h3 class="rating-username">Nguyễn Tiến Khánh</h3>
          <div class="rating">
            <fa icon="star" class="rating-icon"></fa>
            <fa icon="star" class="rating-icon"></fa>
            <fa icon="star" class="rating-icon"></fa>
            <fa icon="star" class="rating-icon"></fa>
            <fa icon="star" class="rating-icon"></fa>
          </div>
        </div>
        <div class="rating-bottom">
          <p class="rating-content">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores id
            amet sunt ipsa qui mollitia quia laborum? Hic corporis officiis
            quasi laudantium mollitia reiciendis praesentium consectetur
            accusantium aperiam. Voluptate soluta nisi sunt expedita minima
            eligendi quod, fugit quasi officiis quibusdam.
          </p>
          <div class="rating-date">
            <span class="rating-day">20/08/2021</span>
          </div>
        </div>
      </div>
      <div class="rating-item">
        <div class="rating-top">
          <img src="../../.././assets/img/logo.png" alt="" class="rating-img" />
          <h3 class="rating-username">Nguyễn Tiến Khánh</h3>
          <div class="rating">
            <fa icon="star" class="rating-icon"></fa>
            <fa icon="star" class="rating-icon"></fa>
            <fa icon="star" class="rating-icon"></fa>
            <fa icon="star" class="rating-icon"></fa>
            <fa icon="star" class="rating-icon"></fa>
          </div>
        </div>
        <div class="rating-bottom">
          <p class="rating-content">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores id
            amet sunt ipsa qui mollitia quia laborum? Hic corporis officiis
            quasi laudantium mollitia reiciendis praesentium consectetur
            accusantium aperiam. Voluptate soluta nisi sunt expedita minima
            eligendi quod, fugit quasi officiis quibusdam.
          </p>
          <div class="rating-date">
            <span class="rating-day">20/08/2021</span>
          </div>
        </div>
      </div>
      <div class="rating-item">
        <div class="rating-top">
          <img src="../../.././assets/img/logo.png" alt="" class="rating-img" />
          <h3 class="rating-username">Nguyễn Tiến Khánh</h3>
          <div class="rating">
            <fa icon="star" class="rating-icon"></fa>
            <fa icon="star" class="rating-icon"></fa>
            <fa icon="star" class="rating-icon"></fa>
            <fa icon="star" class="rating-icon"></fa>
            <fa icon="star" class="rating-icon"></fa>
          </div>
        </div>
        <div class="rating-bottom">
          <p class="rating-content">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores id
            amet sunt ipsa qui mollitia quia laborum? Hic corporis officiis
            quasi laudantium mollitia reiciendis praesentium consectetur
            accusantium aperiam. Voluptate soluta nisi sunt expedita minima
            eligendi quod, fugit quasi officiis quibusdam.
          </p>
          <div class="rating-date">
            <span class="rating-day">20/08/2021</span>
          </div>
        </div>
      </div>
      <div class="rating-item">
        <div class="rating-top">
          <img src="../../.././assets/img/logo.png" alt="" class="rating-img" />
          <h3 class="rating-username">Nguyễn Tiến Khánh</h3>
          <div class="rating">
            <fa icon="star" class="rating-icon"></fa>
            <fa icon="star" class="rating-icon"></fa>
            <fa icon="star" class="rating-icon"></fa>
            <fa icon="star" class="rating-icon"></fa>
            <fa icon="star" class="rating-icon"></fa>
          </div>
        </div>
        <div class="rating-bottom">
          <p class="rating-content">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores id
            amet sunt ipsa qui mollitia quia laborum? Hic corporis officiis
            quasi laudantium mollitia reiciendis praesentium consectetur
            accusantium aperiam. Voluptate soluta nisi sunt expedita minima
            eligendi quod, fugit quasi officiis quibusdam.
          </p>
          <div class="rating-date">
            <span class="rating-day">20/08/2021</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      productdetail: [1, 2, 3, 4, 5, 6],
    };
  },
};
</script>

<style>
</style>