<template>
  <section class="content">
    <div class="content-admin">
      <div class="content-top">
        <h3 class="btn content-title">Quản lý Sách</h3>
        <div class="content-nav">
          <select name="sort-menu" id="sort">
            <option value="sort-titile">Sắp xếp theo</option>
            <option value="sort-abc">Tên sản phẩm</option>
            <option value="sort-ascending">Theo giá tăng dần</option>
            <option value="sort-decrease">Theo giá giảm dần</option>
          </select>
          <div class="edit-content">
            <button class="btn btn-add btn-add--book" @click="onTask(1)">
              <span>Thêm</span>
            </button>
          </div>
        </div>
      </div>
      <table class="table-book table">
        <tr>
          <th>STT</th>
          <th>Tên sách</th>
          <th>Tác giả</th>
          <th>Nhà xuất bản</th>
          <th class="table-describe">Miêu tả</th>
          <th>Số lượng</th>
          <th>Giá bán</th>
          <th>Giảm giá</th>
          <th class="table-edit">Tuỳ chọn</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Cho 1 vé đi tuổi thơ</td>
          <td>Nam Cao</td>
          <td>Kim Đồng</td>
          <td class="col-describe">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            doloribus fugit ex praesentium voluptates sit nesciunt, assumenda
            ducimus aperiam consectetur?
          </td>
          <td>10.000đ</td>
          <td>20.000đ</td>
          <td>1000</td>
          <td>
            <button class="btn btn-edit btn-edit--book" @click="onTask(2)">
              <span>Sửa</span>
            </button>
            <button class="btn btn-delete btn-delete--book" @click="onTask(3)">
              <span>Xoá</span>
            </button>
          </td>
        </tr>
      </table>
      <div class="pagigation">
        <fa icon="chevron-left" class="pagigation-icon"></fa>
        <span class="pagigation-number">1</span>
        <span class="pagigation-number">2</span>
        <span class="pagigation-number">3</span>
        <span class="pagigation-number">...</span>
        <span class="pagigation-number">4</span>
        <fa icon="chevron-right" class="pagigation-icon"></fa>
      </div>
    </div>
    <div :class="{'overlay': task != 0}"></div>
    <task :title="'Thêm'" v-if="task==1" @onTask="onTask"/>
    <task :title="'Sửa'" v-if="task==2" @onTask="onTask"/>
    <Cancel v-if="task==3" @onTask="onTask"/>
  </section>
</template>
<script>
import axios from "axios";
import task from './task.vue';
import Cancel from './cancel.vue';
export default {
  components: { task, Cancel },
  data() {
    return {
      data: [],
      task: 0
    };
  },
  created() {
    this.getBooks();
  },
  methods: {
    onTask(index){
      this.task = index
    },
    getBooks() {
      axios
        .get(`https://book-shop-backend.herokuapp.com/api/v1/books`)
        .then((res) => {
          this.data = res.data.data;
        })
        .catch((e) => {
          this.errors.push(e);
        });
    },
  },
};
</script>

<style>
</style>