<template>
      <div class="add-table">
      <div class="table-top">
        <h2 class="table-title">Xác nhận xóa sách</h2>
      </div>
      <form action="" class="form form-add-book">
        <div class="group-btn">
          <button class="btn btn-add--success" type="submit">Xác nhận</button>
          <button class="btn btn-add--cancel" type="submit" @click="onTask">Huỷ</button>
        </div>
      </form>
    </div>
</template>

<script>
export default {
    props:{
        title:{
            type: String,
        }
    },
    methods:{
      onTask(){
        this.$emit('onTask',0)
      }
    }
}
</script>

<style>

</style>