<template>
      <div class="add-table">
      <div class="table-top">
        <h2 class="table-title">{{title}} Sách</h2>
      </div>
      <form action="" class="form form-add-book">
        <div class="form-admin-group form-name-book">
          <label for="name-book">Tên sách</label>
          <input
            class="form-input"
            type="text"
            id="name-book"
            name="name-book"
          />
        </div>
        <div class="form-admin-group form-name-author">
          <label for="name-author">Tên tác giả</label>
          <input
            class="form-input"
            type="text"
            id="name-author"
            name="name-author"
          />
        </div>
        <div class="form-admin-group form-name-=publisher">
          <label for="name-publisher">Tên nhà xuất bản</label>
          <input
            class="form-input"
            type="text"
            id="name-publisher"
            name="name-publisher"
          />
        </div>
        <div class="form-admin-group form-describe">
          <label for="book-describe">Miêu tả</label>
          <input
            class="form-input book-describe"
            type="text"
            id="book-describe"
            name="book-describe"
          />
        </div>
        <div class="form-price">
          <div class="form-admin-group form-quantity-book">
            <label for="book-quatity">Số lượng</label>
            <input
              class="form-input"
              type="text"
              id="book-quantity"
              name="book-quantity"
            />
          </div>
          <div class="form-admin-group form-price-book">
            <label for="book-price-book">Giá sách</label>
            <input
              class="form-input"
              type="text"
              id="book-price-book"
              name="book-price-book"
            />
          </div>
        </div>
        <div class="group-btn">
          <button class="btn btn-add--success" type="submit">Xác nhận</button>
          <button class="btn btn-add--cancel" type="submit" @click="onTask">Huỷ</button>
        </div>
      </form>
    </div>
</template>

<script>
export default {
    props:{
        title:{
            type: String,
        }
    },
    methods:{
      onTask(){
        this.$emit('onTask',0)
      }
    }
}
</script>

<style>

</style>