<template>
    <div>
        <HeaderPage />
        <div id="wp-content">
            <div class="grid wide">
            <router-view />
            </div>
        </div>
        <FooterPage />
    </div>
</template>
<script>
import HeaderPage from "../../components/PageWeb/header/header.vue";
import FooterPage from "../../components/PageWeb/footer/foote.vue";
export default {
    components:{
        HeaderPage,
        FooterPage
    }
}
</script>

<style>

</style>