<template>
  <div class="service hide-on-mobile-tablet">
    <div class="origin-product service__inner">
      <div class="service__icon">
        <fa icon="shield-alt"></fa>
      </div>
      <span class="service__text"> chính hãng</span>
    </div>
    <div class="easy-payment service__inner">
      <div class="service__icon">
        <fa icon="credit-card"></fa>
      </div>
      <span class="service__text"> Thanh toán</span>
    </div>
    <div class="origin-product service__inner">
      <div class="service__icon">
        <fa icon="shipping-fast"></fa>
      </div>
      <span class="service__text"> Vận chuyển</span>
    </div>
    <div class="origin-product service__inner">
      <div class="service__icon">
        <fa icon="redo"></fa>
      </div>
      <span class="service__text">Hoàn trả</span>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>
