<template>
  <nav class="main-header">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" role="button">
          <fa icon="bars"></fa>
        </a>
      </li>
      <li class="nav-item">
        <a href="index3.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <ion-icon name="search-sharp" class="icon-search-link"></ion-icon>
        </a>
        <!-- <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" />
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <ion-icon name="search-sharp"></ion-icon>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <ion-icon name="search-sharp"></ion-icon>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div> -->
      </li>

      <!-- Messages Dropdown Menu -->
      <li class="nav-item-dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <fa icon="comment"></fa>
          <span class="badge badge-error">3</span>
        </a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">
            <div class="media">
              <img
                src="../../../assets/img/logo.png"
                alt="User Avatar"
                class="img-circle"
              />
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <i class="fas fa-star"></i>
                </h3>
                <p class="text-desc">Call me whenever you can...</p>
                <p class="text-sm">
                  <i class="far fa-clock mr-1"></i> 4 Hours Ago
                </p>
              </div>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <div class="media">
              <img
                src="../../../assets/img/logo.png"
                alt="User Avatar"
                class="img-circle"
              />
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <i class="fas fa-star"></i>
                </h3>
                <p class="text-desc">Call me whenever you can...</p>
                <p class="text-sm">
                  <i class="far fa-clock mr-1"></i> 4 Hours Ago
                </p>
              </div>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <div class="media">
              <img
                src="../../../assets/img/logo.png"
                alt="User Avatar"
                class="img-circle"
              />
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <i class="fas fa-star"></i>
                </h3>
                <p class="text-desc">Call me whenever you can...</p>
                <p class="text-sm">
                  <i class="far fa-clock mr-1"></i> 4 Hours Ago
                </p>
              </div>
            </div>
          </a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item-dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <fa icon="bell"></fa>
          <span class="badge badge-warning">15</span>
        </a>
        <!-- <div class="dropdown-menu">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div> -->
      </li>
    </ul>
  </nav>
</template>

<script>
export default {};
</script>

<style>
</style>